<html>
<head>
    <title>{{title}}</title>
    <link type="text/css" rel="stylesheet" href="/css/style.css"/>
    {{{block "pageStyles"}}}
</head>
<body>
{{{body}}}

{{> scripts}}

{{#if PROD_MODE}}
    {{{block 'googleAnalyticsScripts'}}}
{{/if}}

</body>
</html>